<div
  class="fixed inset-0 bg-black/50 flex justify-center items-center p-10 z-40"
>
  <app-confirm-model
    *ngIf="showConfirm"
    (confirm)="onDeleteConfirmed()"
    (cancel)="showConfirm = false"
  ></app-confirm-model>
  <!-- Modal Content -->
  <div
    class="w-[50%] aspect-square shadow-lg rounded-2xl p-10 pt-16 flex flex-col gap-5"
    [style.backgroundColor]="note.color"
  >
    <form class="relative h-full">
      <div class="w-full flex justify-end">
        <!-- <h2 class="text-3xl font-bold text-zinc-900 text-center mb-7 uppercase">
          Edit Note
        </h2> -->
        <div (click)="closeModal()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-8 w-8 text-gray-900 hover:text-zinc-900 cursor-pointer"
            fill="none"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </div>
      </div>

      <div class="p-4">
        <input
          type="text"
          placeholder="Title"
          class="w-full p-2 mb-4 text-2xl font-bold"
          [(ngModel)]="note.title"
          name="title"
        />
        <hr class="border-zinc-900" />
        <textarea
          placeholder="Content"
          rows="10"
          class="w-full p-2 mb-4 mt-10"
          [(ngModel)]="note.description"
          name="description"
        ></textarea>
        <!-- colors -->
      </div>
      <div class="flex absolute bottom-0 w-full items-center justify-end gap-5">
        <button
          class="w-1/6 border border-zinc-900 text-zinc-900 p-3 py-4 rounded-3xl hover:bg-zinc-900 hover:text-white transition-colors"
          (click)="openConfirmModal()"
        >
          Delete
        </button>

        <button
          type="submit"
          class="w-1/4 bg-zinc-900 text-white p-3 py-4 rounded-3xl hover:bg-zinc-950 transition-colors"
          (click)="onSubmit()"
        >
          Save Changes
        </button>
      </div>
    </form>
  </div>
</div>
